<div class="404-section">
  <h1 class="h1"> {{ section.settings.title }} </h1>
<P class="h5">{{ section.settings.subtext_title }}</P>
<div>
  {% if section.settings.button_url == blank %}
  {% assign shop_url = shop.secure_url %}  
  {% else %}
    {% assign shop_url = section.settings.button_url %}
  {% endif %}
  <button type="button" class="btn btn-outline-primary">
     <a class=" white text-decoration-none" href="{{ shop_url }}" >{{ section.settings.button_label }}</a>
  </button>
 
</div
</div>
{% schema %}
  {
    "name":"Template 404",
    "tag": "section",
    "class": "align-middle justify-content-center text-center p-5",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default":"404",
        "label": "404 Heading Title"
      },
      {
        "type": "text",
        "id": "subtext_title",
        "default":"Write Sub heading here..",
        "label": "404 Sub Heading Title"
      },
         {
        "type": "text",
        "id": "button_label",
        "default":"Back to home page",
        "label": "Button Label"
      },
            {
        "type": "url",
        "id": "button_url",
        "label": "Button Url"
      }
    ]
  }
  {% endschema %}