<h1> {{ settings.title }} </h1>
<P>{{ 'general.404.subtext_html' | t}}</P>

{% schema %}
  {
    "name":"Template 404",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default":"404",
        "label": "404 Heading Title"
      }
    ]
  }
  {% endschema %}