<h1> {{ section.settings.title }} </h1>
<P>{{ section.settings.subtext_title }}</P>

{% schema %}
  {
    "name":"Template 404",
    "tag": "section",
    "class": "d-flex justify-content-center text-center",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default":"404",
        "label": "404 Heading Title"
      },
      {
        "type": "text",
        "id": "subtext_title",
        "default":"Write Sub heading here..",
        "label": "404 Sub Heading Title"
      }
    ]
  }
  {% endschema %}