<div class="404-section">
  <h1 class="h1"> {{ section.settings.title }} </h1>
<P class="h5">{{ section.settings.subtext_title }}</P>

</div>
{% schema %}
  {
    "name":"Template 404",
    "tag": "section",
    "class": "align-middle justify-content-center text-center p-5",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default":"404",
        "label": "404 Heading Title"
      },
      {
        "type": "text",
        "id": "subtext_title",
        "default":"Write Sub heading here..",
        "label": "404 Sub Heading Title"
      },
         {
        "type": "text",
        "id": "button_label",
        "default":"Back to home page",
        "label": "Button Label"
      }
    ]
  }
  {% endschema %}